In [1]:
import pandas as pd

In [2]:
please=pd.read_csv('/Users/denisdunn/Downloads/Incident-level/MIDIP_4.01.csv')

In [3]:
codes=pd.read_csv('/Users/denisdunn/Downloads/COW country codes.csv')

In [8]:
codes.head()

  StateAbb  CCode                  StateNme
0      USA      2  United States of America
1      CAN     20                    Canada
2      BHM     31                   Bahamas
3      CUB     40                      Cuba
4      CUB     40                      Cuba

In [ ]:
#please['StYear']=please['StYear'].astype(int)

In [ ]:
please.columns.values

In [ ]:
please['HostLev'].value_counts()

In [5]:
power=pd.read_csv("/Users/denisdunn/Downloads/NMC_5_0/NMC_5_0.csv")

In [7]:
power.head()

,stateabb,ccode,year,milex,milper,irst,pec,tpop,upop,cinc,version
0,USA,2,1816,3823,17,80,254,8659.0,101.0,0.039698,2011
1,USA,2,1817,2466,15,80,277,8899.0,106.0,0.035817,2011
2,USA,2,1818,1910,14,90,302,9139.0,112.0,0.036126,2011
3,USA,2,1819,2301,13,90,293,9379.0,118.0,0.037133,2011
4,USA,2,1820,1556,15,110,303,9618.0,124.0,0.037087,2011

In [10]:
powerc=pd.merge(codes,power,how='left',left_on='CCode',right_on='ccode')

In [11]:
powerc.columns.values

array(['StateAbb', 'CCode', 'StateNme', 'stateabb', 'ccode', 'year',
       'milex', 'milper', 'irst', 'pec', 'tpop', 'upop', 'cinc',
       'version'], dtype=object)

In [ ]:
#power['year']=power['year'].astype(int)

In [12]:
total=pd.merge(please,powerc,how='left',left_on=['ccode','StYear'],right_on=['CCode','year'])

In [13]:
total.columns.values

array(['DispNum3', 'IncidNum3', 'DispNum4', 'IncidNum4', 'StAbb',
       'ccode_x', 'StDay', 'StMon', 'StYear', 'EndDay', 'EndMon',
       'EndYear', 'InSide A', 'SideA', 'Fatality', 'FatalPre', 'Action',
       'HostLev', 'RevType1', 'RevType2', 'Version', 'StateAbb', 'CCode',
       'StateNme', 'stateabb', 'ccode_y', 'year', 'milex', 'milper',
       'irst', 'pec', 'tpop', 'upop', 'cinc', 'version'], dtype=object)

In [14]:
total=total[['StAbb', 'CCode', 'Fatality', 'FatalPre', 'Action', 'HostLev',
        'year', 'milex',
       'milper', 'irst', 'pec', 'tpop', 'upop', 'cinc' ]]

In [151]:
total.head()

,StAbb,CCode,Fatality,FatalPre,Action,HostLev,year,milex,milper,irst,pec,tpop,upop,cinc
0,BEL,211,2,0,7,3,1992,3160000,79,10332,78228,10055.0,1460.0,0.005132
1,BEL,211,2,0,7,3,1992,3160000,79,10332,78228,10055.0,1460.0,0.005132
2,CAN,20,2,0,7,3,1992,10310000,82,13924,288704,28377.0,10686.0,0.012017
3,DEN,390,2,0,7,3,1992,2790000,28,591,31374,5170.0,1220.0,0.001657
4,DEN,390,2,0,7,3,1992,2790000,28,591,31374,5170.0,1220.0,0.001657

In [15]:
dip=pd.read_csv('/Users/denisdunn/Downloads/Diplomatic_Exchange_2006.1/Diplomatic_Exchange_2006v1.csv')

In [29]:
dip.head()

   ccode1  ccode2  year  DR_at_1  DR_at_2  DE      version
0       2      20  1920        0        0   0  2006.099976
1       2      20  1925        0        0   0  2006.099976
2       2      20  1930        0        2   1  2006.099976
3       2      20  1935        2        2   1  2006.099976
4       2      20  1940        2        2   1  2006.099976

In [ ]:
#dip['year']=dip['year'].astype(int)

In [ ]:
#dip['ccode2']=dip['ccode2'].astype(int)

In [17]:
usdip=dip[dip['ccode1']==2]

In [18]:
usdips=usdip[usdip['year']>1991]

In [19]:
usdips.head()

    ccode1  ccode2  year  DR_at_1  DR_at_2  DE      version
14       2      20  1995        3        3   1  2006.099976
15       2      20  2000        3        3   1  2006.099976
16       2      20  2005        3        3   1  2006.099976
21       2      31  1995        3        3   1  2006.099976
22       2      31  2000        1        3   1  2006.099976

In [20]:
usdiplomat=usdips[['ccode2','year','DE']]

In [201]:
usdouble=usdiplomat[usdiplomat['US_Dip']==1]

In [21]:
usdiplomat.columns=['country_code','year','US_Dip']

In [186]:
#found a way to loop the values into a column
dipcodes=usdiplomat['country_code'].unique()

In [213]:
usdiplomat['country_code'] = usdiplomat['country_code'].astype(str)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [215]:
usdiplomat['year']=usdiplomat['year'].astype(str)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [216]:
usdiplomat['country_code']+usdiplomat['year']

14       201995
15       202000
16       202005
21       311995
22       312000
23       312005
41       401995
42       402000
43       402005
67       411995
68       412000
69       412005
88       421995
89       422000
90       422005
97       511995
98       512000
99       512005
106      521995
107      522000
108      522005
114      531995
115      532000
116      532005
120      541995
121      542000
122      542005
127      551995
128      552000
129      552005
         ...
2713    9202005
2716    9351995
2717    9352000
2718    9352005
2722    9401995
2723    9402000
2724    9402005
2725    9462000
2726    9462005
2727    9472000
2728    9472005
2734    9501995
2735    9502000
2736    9502005
2737    9552000
2738    9552005
2739    9702000
2740    9702005
2741    9831995
2742    9832000
2743    9832005
2744    9861995
2745    9862000
2746    9862005
2747    9871995
2748    9872000
2749    9872005
2753    9901995
2754    9902000
2755    9902005
Length: 567, dtype: object

In [24]:
chindip=dip[dip['ccode1']==710]

In [25]:
chinadip=chindip[chindip['year']>1991]

In [26]:
chinad=chinadip[['ccode2','year','DE']]

In [254]:
chinad

        ccode2  year  DE
257954       2  1995   1
257955       2  2000   1
257956       2  2005   1
257971      20  1995   1
257972      20  2000   1
257973      20  2005   1
257978      31  1995   0
257979      31  2000   0
257980      31  2005   1
257998      40  1995   1
257999      40  2000   1
258000      40  2005   1
258023      41  1995   0
258024      41  2000   0
258025      41  2005   0
258044      42  1995   0
258045      42  2000   0
258046      42  2005   0
258053      51  1995   1
258054      51  2000   1
258055      51  2005   1
258062      52  1995   1
258063      52  2000   1
258064      52  2005   1
258070      53  1995   1
258071      53  2000   1
258072      53  2005   1
258076      54  1995   0
258077      54  2000   0
258078      54  2005   1
...        ...   ...  ..
260331     920  2005   1
260334     935  1995   1
260335     935  2000   1
260336     935  2005   1
260340     940  1995   0
260341     940  2000   0
260342     940  2005   0
260343     946  2000   1
260344     946  2005   0
260345     947  2000   0
260346     947  2005   0
260352     950  1995   1
260353     950  2000   1
260354     950  2005   1
260355     955  2000   1
260356     955  2005   1
260357     970  2000   0
260358     970  2005   1
260359     983  1995   1
260360     983  2000   0
260361     983  2005   0
260362     986  1995   0
260363     986  2000   0
260364     986  2005   0
260365     987  1995   1
260366     987  2000   1
260367     987  2005   1
260371     990  1995   1
260372     990  2000   1
260373     990  2005   1

[567 rows x 3 columns]

In [27]:
#pd.merge(total,chinad,how='left',left_on=['ccode','year'],right_on=['ccode2','year'])

In [41]:
a=pd.merge(codes,usdiplomat,how='left',left_on='CCode',right_on='country_code')

In [44]:
usdip=a[['StateAbb','CCode','year','US_Dip']]

In [46]:
uschind=pd.merge(usdip,chinad,how='left',left_on=['CCode','year'],right_on=['ccode2','year'])

In [48]:
uschind.head()

  StateAbb  CCode    year  US_Dip  ccode2   DE
0      USA      2     NaN     NaN     NaN  NaN
1      CAN     20  1995.0     1.0    20.0  1.0
2      CAN     20  2000.0     1.0    20.0  1.0
3      CAN     20  2005.0     1.0    20.0  1.0
4      BHM     31  1995.0     1.0    31.0  0.0

In [49]:
rusdip=dip[dip['ccode1']==365]

In [50]:
rusdip=rusdip[rusdip['year']>1991]

In [51]:
rusd=rusdip[['ccode2','year','DE']]

In [52]:
diplomat=pd.merge(uschind,rusd,how='left',left_on=['CCode','year'],right_on=['ccode2','year'])

In [53]:
diplomat.head()

  StateAbb  CCode    year  US_Dip  ccode2_x  DE_x  ccode2_y  DE_y
0      USA      2     NaN     NaN       NaN   NaN       NaN   NaN
1      CAN     20  1995.0     1.0      20.0   1.0      20.0   1.0
2      CAN     20  2000.0     1.0      20.0   1.0      20.0   1.0
3      CAN     20  2005.0     1.0      20.0   1.0      20.0   1.0
4      BHM     31  1995.0     1.0      31.0   0.0      31.0   0.0

In [54]:
diptot=diplomat[['StateAbb','CCode','year','US_Dip','DE_x','DE_y']]

In [55]:
diptot.head()

  StateAbb  CCode    year  US_Dip  DE_x  DE_y
0      USA      2     NaN     NaN   NaN   NaN
1      CAN     20  1995.0     1.0   1.0   1.0
2      CAN     20  2000.0     1.0   1.0   1.0
3      CAN     20  2005.0     1.0   1.0   1.0
4      BHM     31  1995.0     1.0   0.0   0.0

In [56]:
diptot.columns=['StateAbb','CCode','year','US_Dip','China_Dip','Russia_Dip']

In [ ]:
codes[codes['StateNme']=='China']

In [59]:
alliance=pd.read_csv('/Users/denisdunn/Downloads/version4.1_csv/alliance_v4.1_by_dyad_yearly.csv')

In [60]:
#alliance['year']=alliance['year'].astype(int)

In [61]:
alliance.describe()

,version4id,ccode1,ccode2,dyad_st_day,dyad_st_month,dyad_st_year,dyad_end_day,dyad_end_month,dyad_end_year,left_censor,right_censor,defense,neutrality,nonaggression,entente,year,version
count,74129.000000,74129.000000,74129.000000,74129.000000,74129.000000,74129.000000,16354.000000,16354.000000,74129.000000,74129.000000,74129.000000,74129.000000,74129.000000,74108.000000,74117.000000,74129.000000,7.412900e+04
mean,221.464069,282.650272,361.628769,13.668092,6.292315,1958.721566,17.339489,5.802434,1998.030879,0.017497,0.779385,0.768714,0.024808,0.745480,0.836731,1977.041239,4.100000e+00
std,69.167418,233.254479,242.795033,9.354374,3.589628,32.011897,8.725122,3.194013,34.121950,0.131113,0.414664,0.421658,0.155541,0.435594,0.369613,59.362657,3.428392e-13
min,1.000000,2.000000,20.000000,1.000000,1.000000,1816.000000,1.000000,1.000000,1820.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.100000e+00
25%,210.000000,60.000000,140.000000,4.000000,3.000000,1947.000000,10.000000,3.000000,2012.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1967.000000,4.100000e+00
50%,210.000000,212.000000,325.000000,13.000000,5.000000,1961.000000,20.000000,5.000000,2012.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1986.000000,4.100000e+00
75%,230.000000,482.000000,645.000000,22.000000,9.000000,1981.000000,23.000000,8.000000,2012.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,2000.000000,4.100000e+00
max,414.000000,900.000000,920.000000,31.000000,12.000000,2012.000000,31.000000,12.000000,2012.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2012.000000,4.100000e+00

In [62]:
usallies=alliance[alliance['ccode1']==2]

In [63]:
us=usallies[usallies['year']>1991]

In [64]:
uspact=us[(us['defense'] ==1) | (us['neutrality'] ==1) |(us['nonaggression']==1)]

In [65]:
usally=uspact[['ccode2','year','right_censor']]

In [66]:
usally.columns=['ccode2','year','US_allie']

In [219]:
usally.describe()

            ccode2         year  US_allie
count  1197.000000  1197.000000    1197.0
mean    218.801170  2002.122807       1.0
std     224.284013     6.032863       0.0
min      20.000000  1992.000000       1.0
25%      60.000000  1997.000000       1.0
50%     135.000000  2002.000000       1.0
75%     255.000000  2007.000000       1.0
max     900.000000  2012.000000       1.0

In [230]:
uspartally=usally['ccode2'].unique()

In [67]:
first=pd.merge(diptot,usally,how='left',left_on=['CCode','year'],right_on=['ccode2','year'])

In [68]:
first.head()

  StateAbb  CCode    year  US_Dip  China_Dip  Russia_Dip  ccode2  US_allie
0      USA      2     NaN     NaN        NaN         NaN     NaN       NaN
1      CAN     20  1995.0     1.0        1.0         1.0    20.0       1.0
2      CAN     20  1995.0     1.0        1.0         1.0    20.0       1.0
3      CAN     20  1995.0     1.0        1.0         1.0    20.0       1.0
4      CAN     20  2000.0     1.0        1.0         1.0    20.0       1.0

In [69]:
first=first[['CCode','year','US_Dip','China_Dip','Russia_Dip','US_allie']]

In [ ]:
#first['US_allie'].fillna(0, inplace=True)

In [101]:
first.head(30)

    CCode    year  US_Dip  China_Dip  Russia_Dip  US_allie
0       2     NaN     NaN        NaN         NaN       NaN
1      20  1995.0     1.0        1.0         1.0       1.0
2      20  1995.0     1.0        1.0         1.0       1.0
3      20  1995.0     1.0        1.0         1.0       1.0
4      20  2000.0     1.0        1.0         1.0       1.0
5      20  2000.0     1.0        1.0         1.0       1.0
6      20  2000.0     1.0        1.0         1.0       1.0
7      20  2005.0     1.0        1.0         1.0       1.0
8      20  2005.0     1.0        1.0         1.0       1.0
9      20  2005.0     1.0        1.0         1.0       1.0
10     31  1995.0     1.0        0.0         0.0       1.0
11     31  2000.0     1.0        0.0         0.0       1.0
12     31  2005.0     1.0        1.0         0.0       1.0
13     40  1995.0     0.0        1.0         1.0       NaN
14     40  2000.0     0.0        1.0         1.0       NaN
15     40  2005.0     0.0        1.0         1.0       NaN
16     40  1995.0     0.0        1.0         1.0       NaN
17     40  2000.0     0.0        1.0         1.0       NaN
18     40  2005.0     0.0        1.0         1.0       NaN
19     41  1995.0     1.0        0.0         0.0       1.0
20     41  2000.0     1.0        0.0         0.0       1.0
21     41  2005.0     1.0        0.0         0.0       1.0
22     41  1995.0     1.0        0.0         0.0       1.0
23     41  2000.0     1.0        0.0         0.0       1.0
24     41  2005.0     1.0        0.0         0.0       1.0
25     42  1995.0     1.0        0.0         1.0       1.0
26     42  2000.0     1.0        0.0         1.0       1.0
27     42  2005.0     1.0        0.0         0.0       1.0
28     42  1995.0     1.0        0.0         1.0       1.0
29     42  2000.0     1.0        0.0         1.0       1.0

In [108]:
rus=alliance[alliance['ccode1']==365]

In [109]:
ruse=rus[rus['year']>1991]

In [110]:
ruspact=ruse[(ruse['defense'] ==1) | (ruse['neutrality'] ==1) |(ruse['nonaggression']==1)]

In [111]:
ruspact['Russian_Allies']=1

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [112]:
ruspact=ruspact[['ccode2','year','Russian_Allies']]

In [240]:
russian_friends=ruspact['ccode2'].unique()

In [80]:
out_ally=pd.merge(first,ruspact,how='left',left_on=['CCode','year'],right_on=['ccode2','year'])

In [117]:
out_ally[out_ally['CCode']==375]

,CCode,year,US_Dip,China_Dip,Russia_Dip,US_allie,ccode2,Russian_Allies
318,375,1995.0,1.0,1.0,1.0,NaN,375.0,1.0
319,375,2000.0,1.0,1.0,1.0,NaN,375.0,1.0
320,375,2005.0,1.0,1.0,1.0,NaN,375.0,1.0

In [118]:
china=alliance[alliance['ccode1']==710]

In [119]:
ch=china[china['year']>1991]

In [120]:
chinpact=ch[(ch['defense'] ==1) | (ch['neutrality'] ==1) |(ch['nonaggression']==1)]

In [121]:
chinpact['China_Allies']=1

In [122]:
chinpact=chinpact[['ccode2','year','China_Allies']]

In [123]:
chinpact.columns=['china_code','year','China_Allies']

In [247]:
#new column for loop style
china_friends=chinpact['china_code'].unique()

In [124]:
test=pd.merge(out_ally,chinpact,how='left',left_on=['CCode','year'],right_on=['china_code','year'])

In [178]:
test.head()

,CCode,year,US_Dip,China_Dip,Russia_Dip,US_allie,ccode2,Russian_Allies,china_code,China_Allies
0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20,1995.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
2,20,1995.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
3,20,1995.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN
4,20,2000.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN

In [131]:
impts=pd.read_csv("/Users/denisdunn/Downloads/National_COW_4.0.csv")

In [134]:
impts.head()

,ccode,statename,stateabb,year,imports,exports,alt_imports,alt_exports,source1,source2,version
0,2,United States of America,USA,1870,450.000000,418.000000,NaN,NaN,1.0,1.0,4
1,2,United States of America,USA,1871,534.000000,475.000000,NaN,NaN,1.0,1.0,4
2,2,United States of America,USA,1872,632.000000,474.000000,NaN,NaN,1.0,1.0,4
3,2,United States of America,USA,1873,342.029999,626.590027,NaN,NaN,1.0,1.0,4
4,2,United States of America,USA,1874,576.000000,619.000000,NaN,NaN,1.0,1.0,4

In [132]:
#impts['year']=impts['year'].astype(int)

In [135]:
trade=impts[impts['year']>1991]

In [136]:
trade=trade[['ccode','stateabb','year','imports','exports']]

In [167]:
final_test=pd.merge(total,trade,how='left',left_on=['CCode','year'],right_on=['ccode','year'])

In [169]:
final_test.columns.values

array(['StAbb', 'CCode', 'Fatality', 'FatalPre', 'Action', 'HostLev',
       'year', 'milex', 'milper', 'irst', 'pec', 'tpop', 'upop', 'cinc',
       'ccode', 'stateabb', 'imports', 'exports'], dtype=object)

In [172]:
final=final_test[['StAbb', 'CCode', 'Fatality', 'FatalPre', 'Action', 'HostLev',
       'year', 'milex', 'milper', 'irst', 'pec', 'tpop', 'upop', 'cinc',
        'imports', 'exports']]

In [188]:
final

,StAbb,CCode,Fatality,FatalPre,Action,HostLev,year,milex,milper,irst,pec,tpop,upop,cinc,imports,exports
0,BEL,211,2,0,7,3,1992,3160000,79,10332,78228,10055.0,1460.0,0.005132,1.170520e+05,1.157825e+05
1,BEL,211,2,0,7,3,1992,3160000,79,10332,78228,10055.0,1460.0,0.005132,1.170520e+05,1.157825e+05
2,CAN,20,2,0,7,3,1992,10310000,82,13924,288704,28377.0,10686.0,0.012017,1.373279e+05,1.334472e+05
3,DEN,390,2,0,7,3,1992,2790000,28,591,31374,5170.0,1220.0,0.001657,3.521662e+04,4.113876e+04
4,DEN,390,2,0,7,3,1992,2790000,28,591,31374,5170.0,1220.0,0.001657,3.521662e+04,4.113876e+04
5,FRN,220,2,0,7,3,1992,34870000,542,18024,242844,57374.0,9986.0,0.021659,2.412998e+05,2.352418e+05
6,FRN,220,2,0,7,3,1992,34870000,542,18024,242844,57374.0,9986.0,0.021659,2.412998e+05,2.352418e+05
7,GMY,255,2,0,7,3,1992,33380000,442,39711,480287,80570.0,25928.0,0.031551,4.038788e+05,4.253047e+05
8,GMY,255,2,0,7,3,1992,33380000,442,39711,480287,80570.0,25928.0,0.031551,4.038788e+05,4.253047e+05
9,GRC,350,2,0,7,3,1992,4400000,208,924,48110,10322.0,2071.0,0.003782,2.281802e+04,9.437492e+03
10,GRC,350,2,0,7,3,1992,4400000,208,924,48110,10322.0,2071.0,0.003782,2.281802e+04,9.437492e+03
11,ITA,325,2,0,7,3,1992,19890000,471,24744,229778,56859.0,14366.0,0.019859,1.867298e+05,1.774280e+05
12,NTH,210,2,0,7,3,1992,8010000,90,5437,159307,15184.0,4137.0,0.006672,1.298131e+05,1.386206e+05
13,NTH,210,2,0,7,3,1992,8010000,90,5437,159307,15184.0,4137.0,0.006672,1.298131e+05,1.386206e+05
14,POR,235,2,0,7,3,1992,1660000,80,749,26167,9867.0,1148.0,0.001865,3.073903e+04,1.880100e+04
15,SPN,230,2,0,7,3,1992,7680000,198,12161,146194,39008.0,15951.0,0.011006,9.983310e+04,6.402225e+04
16,TUR,640,2,0,7,3,1992,4140000,704,9657,83606,58401.0,21984.0,0.013638,2.437260e+04,1.459588e+04
17,UKG,200,2,0,7,3,1992,42330000,293,16008,341540,58006.0,47761.0,0.027372,2.215568e+05,1.900112e+05
18,USA,2,2,0,7,3,1992,286892000,1920,84322,2856725,255391.0,65413.0,0.148314,5.526133e+05,4.473859e+05
19,YUG,345,2,0,0,1,1992,1300000,137,667,26253,10448.0,2381.0,0.002331,1.246739e+04,1.084120e+04
20,YUG,345,2,0,0,1,1992,1300000,137,667,26253,10448.0,2381.0,0.002331,1.246739e+04,1.084120e+04
21,BEL,211,2,0,13,4,1993,4000000,70,10176,76038,10084.0,1466.0,0.005184,1.063780e+05,1.136049e+05
22,BEL,211,2,0,13,4,1993,4000000,70,10176,76038,10084.0,1466.0,0.005184,1.063780e+05,1.136049e+05
23,FRN,220,2,0,13,4,1993,37200000,506,17112,244071,57654.0,10053.0,0.021995,2.025383e+05,2.157160e+05
24,FRN,220,2,0,13,4,1993,37200000,506,17112,244071,57654.0,10053.0,0.021995,2.025383e+05,2.157160e+05
25,GMY,255,2,0,13,4,1993,36700000,398,37625,475727,81187.0,25968.0,0.031423,3.297836e+05,3.642593e+05
26,GMY,255,2,0,13,4,1993,36700000,398,37625,475727,81187.0,25968.0,0.031423,3.297836e+05,3.642593e+05
27,YUG,345,2,0,0,1,1993,-9,100,181,23418,10482.0,2809.0,0.002033,NaN,NaN
28,YUG,345,2,0,0,1,1993,-9,100,181,23418,10482.0,2809.0,0.002033,NaN,NaN
29,GRC,350,2,0,13,4,1993,3861000,213,980,44812,10379.0,2069.0,0.003721,2.020035e+04,9.092874e+03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8100,IND,750,0,0,14,4,2010,30865000,1325,68976,1232691,1205625.0,209511.0,0.079472,3.507828e+05,2.229216e+05
8101,BNG,771,0,0,0,1,2010,1237000,157,78,44895,151125.0,23154.0,0.007411,2.781285e+04,1.649695e+04
8102,IND,750,1,-9,17,4,2010,30865000,1325,68976,1232691,1205625.0,209511.0,0.079472,3.507828e+05,2.229216e+05
8103,BNG,771,1,-9,17,4,2010,1237000,157,78,44895,151125.0,23154.0,0.007411,2.781285e+04,1.649695e+04
8104,BNG,771,0,0,16,4,2010,1237000,157,78,44895,151125.0,23154.0,0.007411,2.781285e+04,1.649695e+04
8105,IND,750,0,0,0,1,2010,30865000,1325,68976,1232691,1205625.0,209511.0,0.079472,3.507828e+05,2.229216e+05
8106,IRN,630,1,1,17,4,2009,8636000,523,10908,364612,73543.0,26184.0,0.014039,4.974050e+04,7.439484e+04
8107,AFG,700,0,0,17,4,2009,252000,53,0,1414,27708.0,3933.0,0.001494,6.947939e+03,4.458751e+02
8108,MYA,775,0,0,16,4,2009,-9,406,25,20407,51540.0,7409.0,0.006478,7.080934e+03,5.912684e+03
8109,THI,800,0,0,0,1,2009,4732000,307,3646,195374,66277.0,10074.0,0.007768,1.347344e+05,1.519103e+05
8110,MYA,775,0,0,11,3,2009,-9,406,25,20407,51540.0,7409.0,0.006478,7.080934e+03,5.912684e+03
8111,BNG,771,0,0,0,1,2009,1016000,157,70,40839,149503.0,22475.0,0.007388,2.185371e+04,1.437748e+04
8112,MYA,775,0,0,7,3,2009,-9,406,25,20407,51540.0,7409.0,0.006478,7.080934e+03,5.912684e+03
8113,BNG,771,0,0,0,1,2009,1016000,157,70,40839,149503.0,22475.0,0.007388,2.185371e+04,1.437748e+04
8114,BNG,771,0,0,11,3,2009,1016000,157,70,40839,149503.0,22475.0,0.007388,2.185371e+04,1.437748e+04
8115,MYA,775,0,0,0,1,2009,-9,406,25,20407,51540.0,7409.0,0.006478,7.080934e+03,5.912684e+03
8116,MYA,775,0,0,11,3,2009,-9,406,25,20407,51540.0,7409.0,0.006478,7.080934e+03,5.912684e+03
8117,BNG,771,0,0,0,1,2009,1016000,157,70,40839,149503.0,22475.0,0.007388,2.185371e+04,1.437748e+04
8118,IRN,630,0,0,11,3,2009,8636000,523,10908,364612,73543.0,26184.0,0.014039,4.974050e+04,7.439484e+04
8119,PAK,770,0,0,0,1,2009,3811000,617,800,93237,170094.0,38910.0,0.013952,3.164763e+04,1.752315e+04
8120,USA,2,0,0,16,4,2010,693600000,1580,80495,3211935,312247.0,177349.0,0.148098,1.968115e+06,1.277486e+06
8121,PAK,770,0,0,0,1,2010,5599000,617,800,92562,173149.0,40238.0,0.014059,4.357041e+04,2.127917e+04
8122,USA,2,0,0,17,4,2010,693600000,1580,80495,3211935,312247.0,177349.0,0.148098,1.968115e+06,1.277486e+06
8123,PAK,770,1,3,17,4,2010,5599000,617,800,92562,173149.0,40238.0,0.014059,4.357041e+04,2.127917e+04
8124,USA,2,0,0,16,4,2010,693600000,1580,80495,3211935,312247.0,177349.0,0.148098,1.968115e+06,1.277486e+06
8125,PAK,770,0,0,0,1,2010,5599000,617,800,92562,173149.0,40238.0,0.014059,4.357041e+04,2.127917e+04
8126,IRN,630,0,0,15,4,2010,10564000,523,11995,375116,74462.0,26666.0,0.014001,6.639507e+04,9.869300e+04
8127,AFG,700,0,0,0,1,2010,277000,94,0,1765,28398.0,4102.0,0.001836,8.651437e+03,5.005202e+02
8128,AFG,700,0,0,15,4,2010,277000,94,0,1765,28398.0,4102.0,0.001836,8.651437e+03,5.005202e+02
8129,IRN,630,0,0,0,1,2010,10564000,523,11995,375116,74462.0,26666.0,0.014001,6.639507e+04,9.869300e+04

In [231]:
us_allied=[]
for sym in final['CCode']:
    if sym in uspartally:
        us_allied.append(1)
    else:
        us_allied.append(0)

In [241]:
russian_allied=[]
for sym in final['CCode']:
    if sym in russian_friends:
        russian_allied.append(1)
    else:
        russian_allied.append(0)

In [249]:
china_allied=[]
for sym in final['CCode']:
    if sym in china_friends:
        china_allied.append(1)
    else:
        china_allied.append(0)

In [250]:
len(china_allied)

8130

In [252]:
final['China_Allied']=china_allied

In [253]:
final

,StAbb,CCode,Fatality,FatalPre,Action,HostLev,year,milex,milper,irst,pec,tpop,upop,cinc,imports,exports,us_dips,US_Allied,Russian_Allied,China_Allied
0,BEL,211,2,0,7,3,1992,3160000,79,10332,78228,10055.0,1460.0,0.005132,1.170520e+05,1.157825e+05,1,1,0,0
1,BEL,211,2,0,7,3,1992,3160000,79,10332,78228,10055.0,1460.0,0.005132,1.170520e+05,1.157825e+05,1,1,0,0
2,CAN,20,2,0,7,3,1992,10310000,82,13924,288704,28377.0,10686.0,0.012017,1.373279e+05,1.334472e+05,1,1,0,0
3,DEN,390,2,0,7,3,1992,2790000,28,591,31374,5170.0,1220.0,0.001657,3.521662e+04,4.113876e+04,1,1,0,0
4,DEN,390,2,0,7,3,1992,2790000,28,591,31374,5170.0,1220.0,0.001657,3.521662e+04,4.113876e+04,1,1,0,0
5,FRN,220,2,0,7,3,1992,34870000,542,18024,242844,57374.0,9986.0,0.021659,2.412998e+05,2.352418e+05,1,1,0,0
6,FRN,220,2,0,7,3,1992,34870000,542,18024,242844,57374.0,9986.0,0.021659,2.412998e+05,2.352418e+05,1,1,0,0
7,GMY,255,2,0,7,3,1992,33380000,442,39711,480287,80570.0,25928.0,0.031551,4.038788e+05,4.253047e+05,1,1,0,0
8,GMY,255,2,0,7,3,1992,33380000,442,39711,480287,80570.0,25928.0,0.031551,4.038788e+05,4.253047e+05,1,1,0,0
9,GRC,350,2,0,7,3,1992,4400000,208,924,48110,10322.0,2071.0,0.003782,2.281802e+04,9.437492e+03,1,1,0,0
10,GRC,350,2,0,7,3,1992,4400000,208,924,48110,10322.0,2071.0,0.003782,2.281802e+04,9.437492e+03,1,1,0,0
11,ITA,325,2,0,7,3,1992,19890000,471,24744,229778,56859.0,14366.0,0.019859,1.867298e+05,1.774280e+05,1,1,0,0
12,NTH,210,2,0,7,3,1992,8010000,90,5437,159307,15184.0,4137.0,0.006672,1.298131e+05,1.386206e+05,1,1,0,0
13,NTH,210,2,0,7,3,1992,8010000,90,5437,159307,15184.0,4137.0,0.006672,1.298131e+05,1.386206e+05,1,1,0,0
14,POR,235,2,0,7,3,1992,1660000,80,749,26167,9867.0,1148.0,0.001865,3.073903e+04,1.880100e+04,1,1,0,0
15,SPN,230,2,0,7,3,1992,7680000,198,12161,146194,39008.0,15951.0,0.011006,9.983310e+04,6.402225e+04,1,1,0,0
16,TUR,640,2,0,7,3,1992,4140000,704,9657,83606,58401.0,21984.0,0.013638,2.437260e+04,1.459588e+04,1,1,1,0
17,UKG,200,2,0,7,3,1992,42330000,293,16008,341540,58006.0,47761.0,0.027372,2.215568e+05,1.900112e+05,1,1,0,0
18,USA,2,2,0,7,3,1992,286892000,1920,84322,2856725,255391.0,65413.0,0.148314,5.526133e+05,4.473859e+05,0,0,0,0
19,YUG,345,2,0,0,1,1992,1300000,137,667,26253,10448.0,2381.0,0.002331,1.246739e+04,1.084120e+04,1,0,0,0
20,YUG,345,2,0,0,1,1992,1300000,137,667,26253,10448.0,2381.0,0.002331,1.246739e+04,1.084120e+04,1,0,0,0
21,BEL,211,2,0,13,4,1993,4000000,70,10176,76038,10084.0,1466.0,0.005184,1.063780e+05,1.136049e+05,1,1,0,0
22,BEL,211,2,0,13,4,1993,4000000,70,10176,76038,10084.0,1466.0,0.005184,1.063780e+05,1.136049e+05,1,1,0,0
23,FRN,220,2,0,13,4,1993,37200000,506,17112,244071,57654.0,10053.0,0.021995,2.025383e+05,2.157160e+05,1,1,0,0
24,FRN,220,2,0,13,4,1993,37200000,506,17112,244071,57654.0,10053.0,0.021995,2.025383e+05,2.157160e+05,1,1,0,0
25,GMY,255,2,0,13,4,1993,36700000,398,37625,475727,81187.0,25968.0,0.031423,3.297836e+05,3.642593e+05,1,1,0,0
26,GMY,255,2,0,13,4,1993,36700000,398,37625,475727,81187.0,25968.0,0.031423,3.297836e+05,3.642593e+05,1,1,0,0
27,YUG,345,2,0,0,1,1993,-9,100,181,23418,10482.0,2809.0,0.002033,NaN,NaN,1,0,0,0
28,YUG,345,2,0,0,1,1993,-9,100,181,23418,10482.0,2809.0,0.002033,NaN,NaN,1,0,0,0
29,GRC,350,2,0,13,4,1993,3861000,213,980,44812,10379.0,2069.0,0.003721,2.020035e+04,9.092874e+03,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8100,IND,750,0,0,14,4,2010,30865000,1325,68976,1232691,1205625.0,209511.0,0.079472,3.507828e+05,2.229216e+05,1,0,0,0
8101,BNG,771,0,0,0,1,2010,1237000,157,78,44895,151125.0,23154.0,0.007411,2.781285e+04,1.649695e+04,1,0,0,0
8102,IND,750,1,-9,17,4,2010,30865000,1325,68976,1232691,1205625.0,209511.0,0.079472,3.507828e+05,2.229216e+05,1,0,0,0
8103,BNG,771,1,-9,17,4,2010,1237000,157,78,44895,151125.0,23154.0,0.007411,2.781285e+04,1.649695e+04,1,0,0,0
8104,BNG,771,0,0,16,4,2010,1237000,157,78,44895,151125.0,23154.0,0.007411,2.781285e+04,1.649695e+04,1,0,0,0
8105,IND,750,0,0,0,1,2010,30865000,1325,68976,1232691,1205625.0,209511.0,0.079472,3.507828e+05,2.229216e+05,1,0,0,0
8106,IRN,630,1,1,17,4,2009,8636000,523,10908,364612,73543.0,26184.0,0.014039,4.974050e+04,7.439484e+04,1,0,0,0
8107,AFG,700,0,0,17,4,2009,252000,53,0,1414,27708.0,3933.0,0.001494,6.947939e+03,4.458751e+02,1,0,0,0
8108,MYA,775,0,0,16,4,2009,-9,406,25,20407,51540.0,7409.0,0.006478,7.080934e+03,5.912684e+03,1,0,0,0
8109,THI,800,0,0,0,1,2009,4732000,307,3646,195374,66277.0,10074.0,0.007768,1.347344e+05,1.519103e+05,1,0,0,0
8110,MYA,775,0,0,11,3,2009,-9,406,25,20407,51540.0,7409.0,0.006478,7.080934e+03,5.912684e+03,1,0,0,0
8111,BNG,771,0,0,0,1,2009,1016000,157,70,40839,149503.0,22475.0,0.007388,2.185371e+04,1.437748e+04,1,0,0,0
8112,MYA,775,0,0,7,3,2009,-9,406,25,20407,51540.0,7409.0,0.006478,7.080934e+03,5.912684e+03,1,0,0,0
8113,BNG,771,0,0,0,1,2009,1016000,157,70,40839,149503.0,22475.0,0.007388,2.185371e+04,1.437748e+04,1,0,0,0
8114,BNG,771,0,0,11,3,2009,1016000,157,70,40839,149503.0,22475.0,0.007388,2.185371e+04,1.437748e+04,1,0,0,0
8115,MYA,775,0,0,0,1,2009,-9,406,25,20407,51540.0,7409.0,0.006478,7.080934e+03,5.912684e+03,1,0,0,0
8116,MYA,775,0,0,11,3,2009,-9,406,25,20407,51540.0,7409.0,0.006478,7.080934e+03,5.912684e+03,1,0,0,0
8117,BNG,771,0,0,0,1,2009,1016000,157,70,40839,149503.0,22475.0,0.007388,2.185371e+04,1.437748e+04,1,0,0,0
8118,IRN,630,0,0,11,3,2009,8636000,523,10908,364612,73543.0,26184.0,0.014039,4.974050e+04,7.439484e+04,1,0,0,0
8119,PAK,770,0,0,0,1,2009,3811000,617,800,93237,170094.0,38910.0,0.013952,3.164763e+04,1.752315e+04,1,1,0,1
8120,USA,2,0,0,16,4,2010,693600000,1580,80495,3211935,312247.0,177349.0,0.148098,1.968115e+06,1.277486e+06,0,0,0,0
8121,PAK,770,0,0,0,1,2010,5599000,617,800,92562,173149.0,40238.0,0.014059,4.357041e+04,2.127917e+04,1,1,0,1
8122,USA,2,0,0,17,4,2010,693600000,1580,80495,3211935,312247.0,177349.0,0.148098,1.968115e+06,1.277486e+06,0,0,0,0
8123,PAK,770,1,3,17,4,2010,5599000,617,800,92562,173149.0,40238.0,0.014059,4.357041e+04,2.127917e+04,1,1,0,1
8124,USA,2,0,0,16,4,2010,693600000,1580,80495,3211935,312247.0,177349.0,0.148098,1.968115e+06,1.277486e+06,0,0,0,0
8125,PAK,770,0,0,0,1,2010,5599000,617,800,92562,173149.0,40238.0,0.014059,4.357041e+04,2.127917e+04,1,1,0,1
8126,IRN,630,0,0,15,4,2010,10564000,523,11995,375116,74462.0,26666.0,0.014001,6.639507e+04,9.869300e+04,1,0,0,0
8127,AFG,700,0,0,0,1,2010,277000,94,0,1765,28398.0,4102.0,0.001836,8.651437e+03,5.005202e+02,1,0,0,0
8128,AFG,700,0,0,15,4,2010,277000,94,0,1765,28398.0,4102.0,0.001836,8.651437e+03,5.005202e+02,1,0,0,0
8129,IRN,630,0,0,0,1,2010,10564000,523,11995,375116,74462.0,26666.0,0.014001,6.639507e+04,9.869300e+04,1,0,0,0

In [138]:
tradeally=pd.merge(test,trade,how='left',left_on=['CCode','year'],right_on=['ccode','year'])

In [142]:
tradeally.columns.values

array(['CCode', 'year', 'US_Dip', 'China_Dip', 'Russia_Dip', 'US_allie',
       'ccode2', 'Russian_Allies', 'china_code', 'China_Allies', 'ccode',
       'stateabb', 'imports', 'exports'], dtype=object)

In [144]:
trader=tradeally[['CCode', 'year', 'US_Dip', 'China_Dip', 'Russia_Dip', 'US_allie', 'Russian_Allies', 'China_Allies', 'imports', 'exports']]

In [163]:
trader[trader['CCode']==211]

,CCode,year,US_Dip,China_Dip,Russia_Dip,US_allie,Russian_Allies,China_Allies,imports,exports
133,211,1995.0,1.0,1.0,1.0,1.0,NaN,NaN,147928.406250,165025.796875
134,211,2000.0,1.0,1.0,1.0,1.0,NaN,NaN,175125.517663,186607.920000
135,211,2005.0,1.0,1.0,1.0,1.0,NaN,NaN,318590.363059,334279.746500
136,211,1995.0,1.0,1.0,1.0,1.0,NaN,NaN,147928.406250,165025.796875
137,211,2000.0,1.0,1.0,1.0,1.0,NaN,NaN,175125.517663,186607.920000
138,211,2005.0,1.0,1.0,1.0,1.0,NaN,NaN,318590.363059,334279.746500

In [174]:
x=pd.merge(total,trader,how='outer',left_on=['CCode'],right_on=['CCode'])

In [155]:
total.to_csv('yishtotherescue.csv')

In [157]:
trader.to_csv('exports_allies_diplomants.csv')

In [256]:
final.to_csv('conflicts.csv')